In [1]:
import pandas as pd

In [2]:
#file to load
file_to_load="Resources/purchase_data.csv"

#read file and store into Pandas Data Frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#display the total number of unique players
total_players = len(purchase_data["SN"].unique())
total_players

576

In [4]:
#display the total number of unique in game items
unique_items = len(purchase_data["Item ID"].unique())
unique_items

179

In [5]:
#calculate average price per item
price_average = purchase_data["Price"].mean()
price_average

3.0509871794871795

In [6]:
#total revenue from all in game purchases
total_revenue=purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
#total number of purchases 
total_purchases=purchase_data["Purchase ID"].count()
total_purchases

780

In [8]:
#Summary Data Frame/cleaned up for organization 
summary_df_1=pd.DataFrame([{"Number of Unique Items": unique_items,
                           "Average Price": price_average,
                           "Number of Purchases":total_purchases,
                           "Total Revenue":total_revenue}])
summary_df_1

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [20]:
#Gender Demographics
gender_data=purchase_data.groupby("Gender")

#used the nunique function to get number of male female and other/non-disclosed players
gender_totals = gender_data["SN"].nunique()
gender_totals

#calculation for gender demo divided by total players
player_percent = gender_totals / total_players * 100

#New Data Frame
gender_totals=pd.DataFrame({"Total Count": gender_totals,"Percentage of Players": player_percent})
gender_totals.head()

gender_totals["Percentage of Players"] = gender_totals["Percentage of Players"].map("{:2f}%".format)
gender_totals.head()

                       Total Count Percentage of Players
Gender
Female                          81            14.062500%
Male                           484            84.027778%
Other / Non-Disclosed           11             1.909722%

In [10]:
#Purchasing Analysis (Gender)
#calculates the number of items purchases by gender
gender_purchases=purchase_data.groupby(["Gender"]).nunique()["Price"]
gender_purchases

Gender
Female                    79
Male                     144
Other / Non-Disclosed     12
Name: Price, dtype: int64

In [11]:
#calculates average cost of item bough per gender 
avg_cost_gender= purchase_data.groupby(["Gender"]).mean()["Price"]
avg_cost_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [12]:
#calculates the total of the purchases by gender
g_purchases = purchase_data.groupby(["Gender"]).sum()["Price"]
g_purchases

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [13]:
gender_total_total =purchase_data["Gender"].value_counts()

#calculates the average totals per person/per gender
average_totals_pers = g_purchases / gender_total_total

In [15]:
#Gender Summary DF/cleaned up for organizationg
gender_summary=pd.DataFrame({"Purchase Count": gender_purchases,
                           "Average Purchase Price": avg_cost_gender,
                           "Total Purchase Value":g_purchases,
                           "Avg Total Purchase Per Person":average_totals_pers})

gender_summary["Average Purchase Price"] = gender_summary["Average Purchase Price"].map("${:.2f}".format)
gender_summary["Total Purchase Value"] = gender_summary["Total Purchase Value"].map("${:.2f}".format)
gender_summary["Avg Total Purchase Per Person"] = gender_summary["Avg Total Purchase Per Person"].map("${:.2f}".format)

gender_summary.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,79,$3.20,$361.94,$3.20
Male,144,$3.02,$1967.64,$3.02
Other / Non-Disclosed,12,$3.35,$50.19,$3.35

In [ ]:
#Age Demographics

#Find the min and max ages of the players to aid in creating bins
print(purchase_data["Age"].max())
print(purchase_data["Age"].min())

In [ ]:
bins= [0,10,15,20,25,30,35,40,100]

group_labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

#Slice the data and place it in bins 
pd.cut(purchase_data["Age"],bins, labels=group_labels).head()

In [ ]:
#Purchasing Analysis Age

In [ ]:
#Top Spenders
purchase_amount=purchase_data["SN"].groupby
purchase_amount

In [ ]:
#Top Spenders
purchase_amount_sn=purchase_data.groupby(["SN"]).count()["Price"]

#price of purchase a player makes 
count_price_sn= purchase_data["SN"].count()

#finds the average purchase price per screen name

avg_purch_sn=purchase_data.groupby(["SN"]).mean()["Price"]

# find purchase count per screen name
purchase_count_sn = purchase_data["Purchase ID"].count()

#sum of all purchases
total_purch_value_sn = purchase_data["Price"].sum()

#New Data Frame
purchase_amount=pd.DataFrame([{"Purchase Count": purchase_amount,"Average Purchase Price": avg_purch_sn,
                             "Total Purchase Value": total_purch_value_sn}])

purchase_amount.head(10)

In [ ]:
total_purch_value_sn=purchase_data[["SN","Purchase ID","Price" ]].drop_duplicates()
total_purch_value_sn

In [ ]:
#Most Popular Items
popular_items=purchase_data

pop_purch_count=purchase_data

pop_item_count=purchase_data

tot_purch_val=purchase_data

num_purchases=purchase_data

#Summary Data Frame/cleaned up for organization 
popular_items=pd.DataFrame([{"Purchase Count":pop_purch_count,
                             "Item Price": pop_item_count,
                           "Total Purchase Value": tot_purch_val,
                           "Number of Purchases":num_purchases,
                           }])

popular_items.head()

In [ ]:
#Most Profitable Items