In [1]:
import pandas as pd

In [2]:
#file to load
file_to_load="Resources/purchase_data.csv"

#read file and store into Pandas Data Frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#display the total number of unique players
total_players = len(purchase_data["SN"].unique())
total_players

576

In [7]:
#display the total number of unique in game items
unique_items = len(purchase_data["Item ID"].unique())
unique_items

#calculate average price per item
price_average = purchase_data["Price"].mean()
price_average

3.0509871794871795

In [11]:
#Summary Data Frame
summary_df_1=pd.DataFrame([{"Count of Unique Items": unique_items,
                           "Average Price": price_average}])
summary_df_1

   Count of Unique Items  Average Price
0                    179       3.050987